@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Mukta", sans-serif;
    font-weight: 500;
}

body {
    background: url('./fondoInicio3.jpg')no-repeat;
    background-size: cover;
}

#back-button {
    position: fixed;
    top: -5px;
    left: 10px;
    font-size: 2.7em;
    z-index: 1000;
    color: #fff;
    transition: all 0.3s ease;
}
#back-button:hover{
    color: #001f3fd3;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    /*background-color: #001f3fd3;*/
    background-color: #cccccc5f;
    backdrop-filter: blur(15px);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-container{
    display: flex;
    align-items: center;
    /* margin-left: 12%; */
    /* justify-content: space-between; */
    width: 30%;
    color: #fff;
}

/* .title-container p{
    margin-bottom: 10px;
} */

.title-container a{
    width: 5%;
}

.title-container a img{
    width: 360%;
    height: auto;
}

.title-container p{
    font-size: 1.5em;
    margin-left: 100px;
}

.user {
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.user #img-user{
    width: 30px; 
    height: 30px; 
    border-radius: 50%
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #001f3fe4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

header nav ul li,
footer ul li{
    position: relative;
    list-style: none;
    float: left;
}

header nav ul li a,
footer ul li a,
footer a,
#btn-register,
#btn-login{
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    color: #fff;
    transition: .5s;
}

footer ul li a{
    padding: 10px 10px;
}

footer ul{
    margin-left: 50px;
    margin-right: 50px;
}

header nav ul li a:hover,
footer ul li a:hover,
footer a:hover,
#btn-register:hover,
#btn-login:hover{
    color: #93d5eb;
}

footer{
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    height: 10%;
    /*background-color: #001f3fd3;*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #cccccc5f;
    backdrop-filter: blur(15px);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.form-box,
.code-mail{
    position: relative;
    width: 400px;
    /* background: transparent; */
    background-color: rgba(177, 219, 255, 0.347);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 30px;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.forget label a:hover {
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 10%;
}
button:hover{
    background: #add8e6;
    transition: 0.2s ease-in-out;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover {
    text-decoration: underline;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.forget label input{
    margin-right: 3px;
}
.forget label a{
    color: #fff;
    text-decoration: none;
    margin-left: 60px;
}

#register-container {
    display: none;
}

.welcome-container {
    background-color: #22275f69;
    color: #fff;
    margin-left: 10%;
    width:40vh;
    height: 70vh;
    padding: 20px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 150px; 
    border-bottom-left-radius: 150px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin-top: 10%;
}

.welcome-container h1 {
    font-size: 2.5em;
    /* margin-bottom: 20px; */
}

.register-welcome-container{
    padding-right: 40px;
    display: none;
}

.move-left{
    transform: translateX(-180%);
    transition: transform 2s ease-in-out;
}

.move-right{
    transform: translateX(100%);
    transition: transform 2s ease-in-out;
}

.welcome-container-left-radius{
    border-top-left-radius: 150px; 
    border-bottom-left-radius: 150px;
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px;
} 

.welcome-container-right-radius{
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px;
    border-top-right-radius: 150px; 
    border-bottom-right-radius: 150px;
}

#logo-welcome img{
    margin-top: 40px;
    width: 70%;
}
