@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Mukta", sans-serif;
    font-weight: 500;
}

body {
    background: url('./fondoInicio.jpg')no-repeat;
    background-size: cover;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #001f3fd3;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-container{
    display: flex;
    align-items: center;
    margin-left: 5%;
    justify-content: space-between;
    width: 30%;
    color: #fff;
}

header .title-container a{
    width: 5%;
}

header .title-container a img{
    width: 360%;
    height: auto;
    margin-top: 10px;
}

header .title-container p{
    font-size: 1.5em;
}

header nav ul li,
footer ul li{
    position: relative;
    list-style: none;
    float: left;
}

header nav ul li a,
footer ul li a,
footer a{
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    color: #fff;
    transition: .5s;
}

footer ul li a{
    padding: 10px 10px;
}

footer ul{
    margin-left: 50px;
    margin-right: 50px;
}

header nav ul li a:hover,
footer ul li a:hover,
footer a:hover{
    color: #add8e6;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 10%;
    background-color: #001f3fd3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.form-box{
    position: relative;
    width: 400px;
    /* background: transparent; */
    background-color: rgba(177, 219, 255, 0.347);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    color: #232121;
    padding: 30px;
}
h2{
    font-size: 2em;
    color: #232121;
    text-align: center;
}
.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #232121;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.forget label a:hover {
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 10%;
}
.register{
    font-size: .9em;
    color: #232121;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #232121;
    font-weight: 600;
}
.register p a:hover {
    text-decoration: underline;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #232121;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #232121;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #232121;
    display: flex;
    justify-content: space-between;
}
.forget label input{
    margin-right: 3px;
}
.forget label a{
    color: #232121;
    text-decoration: none;
    margin-left: 60px;
}
