aside {
    background-color: #001f3f;
    width: 10%;
    height: 100vh;
    top: 60px;
    position: sticky;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

aside nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

aside nav ul li{
    list-style: none;
    margin-bottom: 20px;
}

aside nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: .5s;
}

aside nav ul li a:hover{
    color: #93d5eb;
}

.btn-aside-active{
    background-color: #93d5eb;
    padding: 5px;
    border-radius: 20px;
    color: #000;
}

.btn-aside-active:hover{
    color: #000;
}

.main-purchases {
    position: relative;
    min-height: 50vh;
    overflow: auto;
    margin-top: -50%;
    margin-left: 100px;
}

.main-user-data{
    height: 100vh;
}
.user-data{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20%;
    left: 20%;
}

.purchases-container, 
.orders-container{
    /* background-color: #001f3f; */
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 110vh;
    height: 200vh;
    padding: 20px;
    margin-left: 120px;
    margin-bottom: 100px;
}

.user-modify-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    top: -70px;
    left: 380px;
    position: absolute;
}

.user-data img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.name-container{
    background-color: #022337;
    padding: 20px;
    padding-top: 0;
    width: 70vh;
    color: #fff;
    margin-top: 20px;
}

.name-container h4{
    font-size: 1.5em;
}

.name-container input{
    width: 90%;
    padding: 10px;
    margin-top: 10px;
}

.user-data h2, h3{
    color: #000;
    text-align: center;
    margin-left: -15%;
}

#btn-change-photo{
    background-color: #001f3f;
    color: #fff;
    width: 80%;
}

#btn-change-photo:hover{
    background-color: #93d5eb;
    color: #000;
}

.product-purchase,
.product-order{
    /* display: flex;
    flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
    /* top: -20px;
    left: 80px; */
    /* position: absolute; */
    margin-top: 10px;
    background-color: #001f3f;
    color: #fff;
    width: 120vh;
    padding: 20px;
}

.product-purchase h1,
.product-order h1{
    margin: 0;
    font-size: 1em;
}

.product-purchase hr,
.product-order hr{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-purchase img,
.product-order img{
    width: 100px;
    height: 100px;
}

.product-details{
    display: flex;
    margin-top: 20px;
}

.product-details-text{
    margin: 0;
    margin-left: 20px;
}

.product-details-text h3{
    color: #fff;
}

#btn-show-product {
    background-color: #93d5eb;
    color: #000;
    padding: 10px;
    margin-top: 20px;
    margin-left: 170px;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-show-product:hover {
    background-color: #004387;
    color: #fff;
}